<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>导航页面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="http://www.bootcss.com/p/layoutit/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://www.bootcss.com/p/layoutit/css/layoutit.css"/>
    <script src="/bootstrap/js/jquery.min.js"></script>
    <script src="http://www.bootcss.com/p/layoutit/js/bootstrap.min.js"></script>

</head>
<body class="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="/table_desc" target="_blank">sql编写</a>
                    </li>
                    <li>
                        <a href="/sql_test" target="_blank">数据校验</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>